/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

.wrapper{
	position: relative;

	.header{
		background-color: #f0f3f8;
		
		.header_container{
			max-width: 1140px;
			width: 100%;
			margin: 0 auto;
			padding: 10px 0;

			.list_menu{
				float: left;
				margin: 0 !important;

				&>li{
					display: inline-block;
					margin-right: 15px;

					.btn-group{

						&>button{
							background: none;
							border: none;
							color: #7f7ab9;
						}
					}
				}
			}

			.list_search{
				float: right;
				margin: 0;

				&>li{
					display: inline-block;
					width: 45px;
					height: 25px;
					margin-left: 15px;
					vertical-align: -webkit-baseline-middle;
					text-align: right;

					&>a{
						display: block;
						height: 100%;
						width: 100%;
					}
				}
			}
		}
	}
}

.bg_red{
	border-radius: 12px;
	width: 78px;
	height: 25px;
	background-color: #ee3346;
	text-align: center;

	&>a{
		color: #fff;
		padding-top: 2px;
		display: block;
		width: 100%;
		height: 100%;
	}
}

.header_container:after,
.header_container:before{
	content: "";
	display: table;
}
.header_container:after{
	clear: both;
}

.item_search{
	background: url(../images/search_image_header.png) left center no-repeat;
}

.item_author{
	background: url(../images/author_image_header.png) left center no-repeat;

	&>a{
		background: url(../images/arrow_bottom.png) right center no-repeat;
	}
}

.item_bascket{
	background: url(../images/bascket_image_header.png) left center no-repeat;
}

#menu_750{
	width: 200px;
	height: 100%;
	position: fixed;
	top: 0;
	left: -200px;
	background-color: rgba(0,0,0, 0.8);
	padding: 20px 0 0 20px;
    z-index: 100;

	&>ul{
		margin: 0;

		&>li{
			margin-bottom: 15px;

			&>a{
				color: #fff;
				font-size: 20px;
				line-height: 22px;
			}
		}
	}

	#header_menu_close{
		position: absolute;
		top: 20px;
		right: 20px;
	}

}

.header_menu_list{
	cursor: pointer;
	color: #218d3f;
	font-weight: bold;
	font-size: 22px;
	line-height: 24px;
	margin-top: 40px;
}

.list_menu_750_nav{

	&>li{

		&>a{
			color: #56a3f1 !important;
		}
	}
}

#header_menu_open{
	background: url(../images/menu_750.png) center no-repeat !important;
	display: none;
	background: none;
	border: none;
	width: 30px;
	height: 10px;
	float: left;
	margin: 10px 0 0 10px;
}

#header_menu_close{
	background: url(../images/close_menu.png) center no-repeat !important;
	background: none;
	border: none;
	width: 20px;
	height: 20px;
}

.header_320_logo{
	display: none;
	float: left;
	width: 33px;
	height: 33px;

	&>a{
		display: block;
		width: 100%;
		height: 100%;
		background: url(../images/header_320_logo.png) center no-repeat;
	}
}

@media only screen and(max-width: 970px){
	.wrapper{

		.header{
			
			.header_container{
				max-width: 940px;
				padding: 10px;
			}
		}
	}
}

@media only screen and(max-width: 750px){
	.wrapper{

		.header{
			
			.header_container{
				max-width: 710px;
			}
		}
	}

	.list_menu{
		display: none;
	}

	#header_menu_open{
		display: block;
	}
}


@media only screen and(max-width: 320px){
	.wrapper{

		.header{
			
			.header_container{
				max-width: 292px;
			}
		}
	}

	.header_320_logo{
		display: block;
	}
}


/////////////////////////////////////////////////////////////////////////////////



.top_contact{
	background-color: #fff;

	.top_contact_container{
		max-width: 1140px;
		width: 100%;
		margin: 0 auto 23px;
		padding: 22px 8px 0 15px;

		.top_contact_logo{
			float: left;
			width: 260px;
			height: 74px;
			
			&>a{
				display: block;
				width: 100%;
				height: 100%;
				padding-left: 99px;
				background: url(../images/top_contact_logo.png) no-repeat;

				&>h1{
					margin: 0;
					color: #3d3c3d;
					padding-top: 12px;
				}

				&>p{
					color: #3d3c3d;
					margin: 0;
					font-size: 12px;
					line-height: 14px;
				}
			}

			&>a:hover{
				text-decoration: none;
			}
		}

		.top_contact_list{
			float: right;

			&>li{
				display: inline-block;
				margin-left: 25px;

				&>h6{
					font-weight: normal;
					margin: 0;
					margin-bottom: 20px;
				}
				&>p{
					margin: 0;
					font-weight: bold;
				}
			}
		}
	}
}

#sing{
	cursor: pointer;
}

#sing:hover{
	text-decoration: underline;
}



.top_contact_container:after,
.top_contact_container:before{
	content: "";
	display: table;
}
.top_contact_container:after{
	clear: both;
}



@media only screen and(max-width: 750px){

	.item_max_750{
		display: none !important;
	}

	.top_contact{
		border-bottom: 1px solid #ccc;
	}
}


@media only screen and(max-width: 320px){

	.top_contact{
		display: none;
	}
}


//////////////////////////////////////////////////////////////////////////////////


.navigation{
	background-color: #fff;

	.navigation_container{
		max-width: 1140px;
		width: 100%;
		margin: 0 auto 38px;
		display: flex;
		justify-content: space-between;
		flex-flow: row wrap;
		align-items: baseline;

		&>li{
			width: 80px;
			text-align: center;

			&>a{
				padding-top: 20px;
				display: block;
				width: 100%;
				height: 100%;
				text-decoration: none;

				.nav_images{
					width: 40px;
					height: 40px;
					background-position: center 0;
					margin: 0 auto 18px;
				}

				&>p{
					margin: 0;
				}
			}
		}
	}
}

.active_red{
	border-top: 2px solid #f00;

	.nav_images{
		background-position: center top -40px !important;

	}
}

.nav_img_01{
	background: url(../images/nav_img_01.png) no-repeat;
}

.nav_img_02{
	background: url(../images/nav_img_02.png) no-repeat;
}

.nav_img_03{
	background: url(../images/nav_img_03.png) no-repeat;
}

.nav_img_04{
	background: url(../images/nav_img_04.png) no-repeat;
}

.nav_img_05{
	background: url(../images/nav_img_05.png) no-repeat;
}

.nav_img_06{
	background: url(../images/nav_img_06.png) no-repeat;
}

.nav_img_07{
	background: url(../images/nav_img_07.png) no-repeat;
}

.nav_img_08{
	background: url(../images/nav_img_08.png) no-repeat;
}


@media only screen and(max-width: 970px){

	.navigation_container{
		padding: 0 20px;
	}
}

@media only screen and(max-width: 750px){
	.navigation{
		display: none;
	}
}


//////////////////////////////////////////////////////////////////////


.bread_crumbs{
	background-color: #fff;

	.bread_crumbs_container{
		max-width: 1140px;
		width: 100%;
		margin: 0 auto 43px;

		.breadcrumb{
			background: none;	

			&>li{

				&>a:hover{
					text-decoration: none;
				}
			}
		}
	}
}


@media only screen and(max-width: 750px){
	
	.bread_crumbs{
		display: none;
	}
}


/////////////////////////////////////////////////////////////

.content{
	background-color: #fff;

	.content_container{
		max-width: 1140px;
		width: 100%;
		margin: 0 auto;

		.sidebar_right{
			float: right;
			max-width: 255px;
			width: 100%;

			&>button{
				margin-bottom: 32px;
			}

			.sidebar_list{

				.item{
					margin-bottom: 15px;
					
					&>span{
						cursor: pointer;
						padding-right: 20px;
					}

					&>ul{

						&>li{

							&>a{
								color: #999;
							}
						}
					}
				}
			}
		}
	}
}

.content_container:after,
.content_container:before{
	content: "";
	display: table;
}
.content_container:after{
	clear: both;
}


.sidebar_item_one,
.sidebar_item_two,
.sidebar_item_four,
.sidebar_item_three{
	background: url(../images/arrow_bottom.png) right center no-repeat;
}

@media only screen and(max-width: 750px){
	
	.sidebar_right{
		display: none;
	}
}

/////////////////////////////////////////////////////////////////////////

.content_container_box{
	max-width: 846px;
	width: 100%;
	float: left;

	.order_box{
		margin: 20px 0;

		&>li{
			display: inline-block;
			margin-right: 12px;

			&>h3{
				color: #e92c39;
			}
		}
	}
}

.window_modal_one{
	background: rgba(0,0,0, 0.5);
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 111;
}

.modal_one_window{
	margin: 100px auto;
	width: 400px;
	height: 400px;
	background-color: #fff;
	border-radius: 10px;
	padding: 30px;
	position: relative;
}

.btn_close_modal{
	width: 30px;
	height: 30px;
	position: absolute;
	bottom: 20px;
	right: 20px;

}


.slider_box{
	margin-bottom: 20px;
}

.btn-group-justified{
	max-width: 660px;
	width: 100%;
	margin-bottom: 20px;
}

.content_list_social{

	&>li{
		width: 30px;
		height: 30px;
		border: 1px solid #ccc;
		border-radius: 3px;
		margin-right: 3px;
		display: inline-block;

		&>a{
			display: block;
			width: 100%;
			height: 100%;
		}
	}

	&>li:last-child{
		border: none;	
	}
}

.item_facebook{

	&>a{
		background: url(../images/social_item_facebook.png) center no-repeat;
	}
}

.item_vk{

	&>a{
		background: url(../images/social_item_vk.png) center no-repeat;
	}
}

.item_google{

	&>a{
		background: url(../images/social_item_google.png) center no-repeat;
	}
}

.item_twitter{

	&>a{
		background: url(../images/social_item_twitter.png) center no-repeat;
	}
}

.item_red_mark{

	&>a{
		background: url(../images/social_item_red_mark.png) center no-repeat;
	}
}

.nav-tabs>li.active>a{
	border: none !important;
	border-bottom: 1px solid #f00 !important;
	color: #f00 !important;
	font-size: 20px;
	line-height: 22px;
}

.nav-tabs>li{
    margin-bottom: -2px !important;
}

.content_tabs{
	display: flex;
	justify-content: space-between;
}

.tab-content{
	padding: 45px 0;

	.tab-pane{
		font-size: 17px;
		line-height: 25px;
	}
}


.download_box{
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
	margin-bottom: 35px;

	&>li{
		max-width: 420px;
		width: 100%;
		padding: 10px 0 10px 57px;
		background: url(../images/adobe_img_link.png) left center no-repeat;
		margin-bottom: 13px;

		&>p{
			margin: 0;
		}
	}
}

.btn_group_320{
	display: none;
	text-align: center;
	margin-bottom: 25px;
}

.btn_320_smal{
	margin-bottom: 20px;
}

@media only screen and(max-width: 970px){

	.content_container{
		padding: 0 25px;
	}
	
	.content_container_box{
		max-width: 670px;
	}

	.sidebar_right{
		max-width: 200px !important;
	}

	.download_box{

		&>li{
			max-width: 320px;
		}
	}
	
}


@media only screen and(max-width: 750px){
	
	.sidebar_right{
		float: none;
	}

	.content_container_box{
		float: none;
		margin: 0 auto;
	}

}

@media only screen and(max-width: 320px){
	
	.btn-group-justified{
		display: none !important;
	}

	.btn_group_320{
		display: block !important;
	}
}






////////////////////////////////////////////////////////////////////


   .slider {
        width: 1140px;
        padding-bottom: 110px;
    }

    .slick-slide {
      margin: 0;
    }

    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
        color: black;
    }

    .bottom_slider{
    	max-width: 1140px;
    	width: 100%;
    	margin: 0 auto;

    	&>h4{
    		font-weight: bold;
    		font-size: 33px;
    		line-height: 35px;
    		margin-bottom: 30px;
    	}
    }


    #slick-slide00,
    #slick-slide01,
    #slick-slide02{
    	display: none !important;
    }

    .active_red_text{
    	color: #f00;

    	&>span{
			color: #000;
			font-size: 12px;
			line-height: 14px;
    	}
    }


@media only screen and(max-width: 970px){
	
	.slider_slick_box {
        max-width: 855px !important;
        margin: 0 auto;
    }

    .bottom_slider{

		&>h4{
			font-size: 25px;
			line-height: 27px;
			padding-left: 30px;
		}
	}
}


@media only screen and(max-width: 750px){
	
	.slick_slider_item{
	    max-width: 240px !important;
	    padding: 10px 5px 10px !important;
	}

	.slider_slick_box{
		max-width: 720px !important;
	}
}

@media only screen and(max-width: 320px){

	.slick_slider_item{
	    max-width: 280px !important;
	}
	
	.slider_slick_box{
		max-width: 280px !important;
		margin: 0 auto;
		padding-bottom: 50px;
	}


	.slick-prev{
	    top: 550px !important;
	    left: 100px !important;
	}

	.slick-next{
	    top: 550px !important;
	    right: 100px !important;
	}
}
